PORT=10000

BASE_URL=http://localhost:10000

DONATION_ALERTS_CLIENT_ID=
DONATION_ALERTS_CLIENT_SECRET=
DONATION_ALERTS_ACCESS_TOKEN=
DONATION_ALERTS_REFRESH_TOKEN=

DONATION_AMOUNT=5
DONATION_CURRENCY=EUR

SESSION_SECRET=change-this-to-a-long-random-string
